<div class="container">
    <header class="search">
      <h2 class="search__title">Rechercher un établissement</h2>
        <div class="search__form">
          <input class="search__input" type="text" [(ngModel)]="siren" placeholder="Entrez un numéro de SIREN">
          <button class="search__button" (click)="onSearch()">Rechercher</button>
        </div>
    </header>
    <section class="result">
      <div *ngIf="error" class="error">{{ error }}</div>
      <div *ngIf="data">
        <div class="result__header">
          <h3 class="result__title">{{ data.nom }}</h3>
          <button class="result__button">Fiche société</button>
        </div>
        <div class="result__data">
          <h4 class="data__title"> Informations clés </h4>
            <ul class="data__list">
                <li class="data__element"><span class="data__label">Forme sociale :</span> <a class="data__value" (click)="copyToClipboard(cjn3Details)">{{ cjn3Details }}</a></li>
                <li class="data__element" *ngIf="data?.siretDetails?.adresse"><span class="data__label">Siège social :</span> <a class="data__value" (click)="copyToClipboard(data.siretDetails.adresse)">{{ data.siretDetails.adresse }}</a></li>
                <li class="data__element" *ngIf="!data?.siretDetails?.adresse"><span class="data__label">Siège social :</span> <a class="data__value" (click)="copyToClipboard('Adresse non renseignée')">Adresse non renseignée</a></li>
                <li class="data__element"><span class="data__label">Capital social :</span> <a class="data__value" (click)="copyToClipboard(data.capitalSocial)">{{ data.capitalSocial }}</a></li>
                <li class="data__element"><span class="data__label">Numéro de SIREN :</span> <a class="data__value" (click)="copyToClipboard(data.numeroSiren)">{{ data.numeroSiren }}</a></li>
                <li class="data__element"><span class="data__label">Numéro de SIRET :</span> <a class="data__value" (click)="copyToClipboard(data.numeroSiret)">{{ data.numeroSiret }}</a></li>
                <li class="data__element"><span class="data__label">Numéro RCS :</span> <a class="data__value" (click)="copyToClipboard(data.numeroRCS)">{{ data.numeroRCS }}</a></li>
                <li class="data__element"><span class="data__label">Immatriculation :</span> <a class="data__value" (click)="copyToClipboard(data.immatriculation)">{{ data.immatriculation }}</a></li>
                <li class="data__element"><span class="data__label">Clôture de l'exercice social :</span> <a class="data__value" (click)="copyToClipboard(data.clotureExerciceSocial)">{{ data.clotureExerciceSocial }}</a></li>
                <li class="data__element"><span class="data__label">N° TVA Intracommunautaire :</span> <a class="data__value" (click)="copyToClipboard(data.numeroTVA)">{{ data.numeroTVA }}</a></li>
                <li class="data__element"><span class="data__label">Code NAF ou APE :</span> <a class="data__value" (click)="copyToClipboard(data.codeNafApe)">{{ data.codeNafApe }}
                <span *ngIf="nafDetails">({{ nafDetails }})</span></a></li>
                <li class="data__element"><span class="data__label">Activité principale déclarée :</span> <a class="data__value" (click)="copyToClipboard(data.activitePrincipale)">{{ data.activitePrincipale }}</a></li>
            </ul>
        </div> 
      </div>
    </section>
</div>
  