<div class="container">
    <header class="search">
      <h2 class="search__title">Rechercher un établissement</h2>
        <div class="search__form">
          <input class="search__input" type="text" [(ngModel)]="siren" placeholder="Entrez un numéro de SIREN">
          <button class="search__button" (click)="onSearch()">Rechercher</button>
        </div>
    </header>
    <section class="result">
      <div *ngIf="error" class="error">{{ error }}</div>
      <div *ngIf="data">
        <div class="result__header">
          <h3 class="result__title">{{ data.nom }}</h3>
          <button class="result__button">Fiche société</button>
        </div>
        <div class="result__data">
          <h4 class="data__title"> Informations clés </h4>
            <ul class="data__list">
              <li class="data__element"><span class="data__label">Forme sociale :</span> {{ data.formeSociale }}</li>
              <li class="data__element" *ngIf="data?.siretDetails?.adresse"><span class="data__label">Siège social :</span> {{ data.siretDetails.adresse }}</li>
              <li class="data__element" *ngIf="!data?.siretDetails?.adresse"><span class="data__label">Siège social :</span> Adresse non renseignée</li>
              <li class="data__element"><span class="data__label">Capital social :</span> {{ data.capitalSocial }}</li>
              <li class="data__element"><span class="data__label">Numéro de SIREN :</span> {{ data.numeroSiren }}</li>
              <li class="data__element"><span class="data__label">Numéro de SIRET :</span> {{ data.numeroSiret }}</li>
              <li class="data__element"><span class="data__label">Numéro RCS :</span> {{ data.numeroRCS }}</li>
              <li class="data__element"><span class="data__label">Immatriculation :</span> {{ data.immatriculation }}</li>
              <li class="data__element"><span class="data__label">Clôture de l'exercice social :</span> {{ data.clotureExerciceSocial }}</li>
              <li class="data__element"><span class="data__label">N° TVA Intracommunautaire :</span> {{ data.numeroTVA }}</li>
              <li class="data__element"><span class="data__label">Code NAF ou APE :</span> {{ data.codeNafApe }}
              <span *ngIf="nafDetails">({{ nafDetails }})</span></li>
              <li class="data__element"><span class="data__label">Activité principale déclarée :</span> {{ data.activitePrincipale }}</li>
            </ul>
        </div> 
      </div>
    </section>
</div>
  